:root {
    /* ### Primary */
    --Light-Cyan: hsl(193, 38%, 86%);
    --Neon-Green: hsl(150, 100%, 66%);

    /* ### Neutral */
    --Grayish-Blue: hsl(217, 19%, 38%);
    --Dark-Grayish-Blue: hsl(217, 19%, 24%);
    --Dark-Blue: hsl(218, 23%, 16%);
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--Dark-Blue);
    color: var(--Light-Cyan);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Manrope', Arial, Helvetica, sans-serif;
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    background-color: var(--Dark-Grayish-Blue);
    padding: 2.15rem;
    border-radius: 10px;
    max-width: 509px;
}

header p {
    text-align: center;
    color: var(--Neon-Green);
    text-transform: uppercase;
    /* border: 1px solid var(--Neon-Green); */
    font-weight: 800;
    letter-spacing: 0.5rem;
}

main p {
    margin: 0;
    padding: 0;
    /* border: 1px solid var(--Neon-Green); */
    font-size: 28px;
    text-align: center;
    font-weight: 800;
}

.relative {
    /* border: 1px solid var(--Neon-Green); */
    padding: 0 2rem;
    position: relative;
}

.absolute {
    position: absolute;
    right: 0.25rem;
    top: 0.35rem;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    padding: 1rem;
    background-color: var(--Neon-Green);
    border: none;
    border-radius: 50%;
}

button:hover,
button:active {
    box-shadow: 0 0 40px 0 var(--Neon-Green);
}