:root {
    /* ### Primary */
    --Light-Cyan: hsl(193, 38%, 86%);
    --Neon-Green: hsl(150, 100%, 66%);

    /* ### Neutral */
    --Grayish-Blue: hsl(217, 19%, 38%);
    --Dark-Grayish-Blue: hsl(217, 19%, 24%);
    --Dark-Blue: hsl(218, 23%, 16%);
    --black-shadow: hsla(0, 0%, 0%, 0.2);
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--Dark-Blue);
    color: var(--Light-Cyan);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Manrope', Arial, Helvetica, sans-serif;
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    background-color: var(--Dark-Grayish-Blue);
    padding: 2.15rem;
    border-radius: 15px;
    width: 540px;
    box-shadow: 0 20px 50px 0 var(--black-shadow);
}

header {
    margin: 1rem 0 0.2rem 0;
}

header p {
    text-align: center;
    color: var(--Neon-Green);
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 800;
    letter-spacing: 0.3rem;
}

main {
    margin-bottom: 1rem;
}

main p {
    padding: 0 0.85rem;
    font-size: 28px;
    text-align: center;
    font-weight: 800;
}

#line-desk {
    margin-bottom: 0.7rem;
}

.relative {
    padding: 0 3rem;
    position: relative;
}

.absolute {
    position: absolute;
    left: 15px;
    top: 0.15rem;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    padding: 1.25rem;
    background-color: var(--Neon-Green);
    border: none;
    border-radius: 50%;
}

button:hover,
button:active {
    cursor: pointer;
    box-shadow: 0 0 40px 0 var(--Neon-Green);
}

#line-phone {
    display: none;
}

@media (width <= 580px) {
    
    #line-desk {
        display: none;
    }

    #line-phone {
        display: block;
    }

    .card {
        padding: 1.5rem 1.2rem 2.15rem 1.2rem;
        width: 345px;
    }

    main {
        margin-bottom: 0.5rem;
    }

    main p {
        font-size: 23px;
    }
}